body{
    background-color: bisque;
}
h3{
    color: coral;
    text-align: center;
}
h5{
    color: burlywood;
    text-align: center;
}
button{
    width: 200px;
    margin:3% 42%;
    padding: 1%;
    clear: both;
    background-color: teal;
    color: white;
    font-weight: bold;
    font-size: +2em;
}
button:hover{
    background-color: cadetblue;
    color: azure;
}
p{
    padding: 3% 40%;
    color: brown;
    font-size: +2em;
}